

<div class="row justify-content-center">

    <div class="col-12 col-sm-8 col-md-5 col-lg-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@Html.Raw(ViewData["Card_Title"])</h4>
                <p class="card-text">@Html.Raw(ViewData["Card_Text"])</p>
            </div>
        </div>
    </div>

</div>
